@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header-container {
    padding: 15px;
    width: 100%;
    background: #834283;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    background-color: aqua;
    height: 100%;
    min-width: 300px;
}

.wrapper__main {
    display: flex;
    width: 100%;
    background-color: rgb(64, 167, 89);
}

.wrapper__main__canvas-container {
    width: 700px;
    height: 700px;
    background-color: #cccccc;
}

/* #canvas {

} */

