@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    outline: solid red;
}
  
body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > * {
/* padding: 20px; */
}
.main-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background: rgb(139, 78, 78);
    
}
.page-main {
    /* Ширина 26% */
    padding: 20px;
    min-width: 430px;
    display: flex;
    justify-content: center;
    flex-grow: 2;
    background: #E5EDEC;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 60px;
    background: black;
    color: white;
    min-width: 990px;
}
.logo {
    display: flex;
    align-items: baseline;
}
.first_word {
    color: #E93147;
}
.second_word {
    color: #FFFFFF;
}
h2 {
    /* height: 50px; */
    margin: 0;
    padding: 0;
    display: inline;
}
.buttons-wrapper {
    display: flex;
    align-items: center;
}

.buttons {
    color: #ffffff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #E93147; /* фон кнопки */
    border-radius: 10px;
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: none;
    margin-left: 40px;
  } 
.buttons:hover { background: #ee5163 ; } /* при наведении курсора мышки */
.buttons:active { background: #9b1c2b; } /* при нажатии */


.left-sidebar-container {
    display: flex;
    flex-direction: row;
    width: 23%;
    max-width: 442px;
    min-width: 380px;
}
.leftSidebar-title {
    width: 25%;
    min-width: 110px;
    max-width: 110px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    
}
.filter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cut-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rotate-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1em 0;
    background: #000000;
    color: #8F8F8F;
    font-size: 1em;
}
.filters:hover { background: rgb(68, 68, 68) ; } /* при наведении курсора мышки */
/* .filters:active { background: #0a0a0a; } при нажатии */
.active {
    background: #212121;
}

.leftSidebar-content {
    width: 75%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #3C3C3C;
    color: white;
}
.slider-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    height:7px;
    width: 100%;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#E93147;
    height:16px;
    width:16px;
    border-radius: 10px;
}


.rotate-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotate-blocks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



aside {
    width: 10%;
    min-width: 180px;
    max-width: 180px;
    padding: 20px;
    display: flex;
    background: #3C3C3C;
    color: white;
}

.hidden {
    display: none;
}


@media screen and (max-width: 990px) {
    .page-main {
        position: absolute;
        display: flex;
        

    }
}


